<!doctype HTML>
<head>
	<%- include("./../../../static/head.html") %>
	<link rel="stylesheet" type="text/css" href="/serverManager/serverManager.css">
	<!-- <script defer type="module" src="/serverManager/index.js"></script> -->
</head>

<body>
	<%- include("./../../../static/sidebar.html") %>
	<div id="body">
		<div id="serverlistDisplayContainer" class="serverManagerMainContainer">
			<%
				html = "";
				if(req.query
				&& req.query.instanceID
				&& slaves[req.query.instanceID]
				&& slaves[req.query.instanceID].mods
				&& serverManager.serverSockets[req.query.instanceID]){
					let slave = slaves[req.query.instanceID];
					html += `
						<div id="mods">
							${slave.mods.map(mod => mod.name).reduce((acc, modname) => acc + "<li>" + modname + "</li>")}
						</div>
						<div id="plugins"><ul>`
					let server = serverManager.serverSockets[req.query.instanceID];
					if(server.plugins) server.plugins.forEach(plugin => {
						html += `<li><div class="pluginStatus" style="background-color: ${plugin.enabled ? 'green' : 'red'}"></div><div style="width: calc( 100% - 50px )"><h3>${plugin.name}</h3><p>${plugin.description}</p></div></li>`
					});
					html += `</ul></div><div id="config">`
					if(permissions && permissions.cluster.includes("readConfig")){
						if(server.config){
							html += `<ul>`;
							server.config.forEach(setting => {
								if(setting.entry[1] !== "_" && setting.entry !== "masterAuthSecret"){
									html += `<li class="settingInput">
										<p style="width: 50%; display:inline-block;">${setting.entry}</p>
										<input style="color:black; width: calc(50% - 4px); box-sizing: border-box;" value='${setting.value}'>
									</li>`
								}
							});
						}
					}
					html += `</ul>
					<input id="submitSettings" type="button" value="Save changes" style="color:black"/>
					</div>`
				}
			%>
			<%- html %>
		</div>
	</div>
	<script>
		<%- include("./index.js") %>
	</script>
</body>
