#mods {
  width: calc(( 100% ) / 4);
  float:left;
}
#plugins {
  width:calc((( 100% ) - (( 100% ) / 4))/2);
  float:left;
}
#config {
  width:calc((( 100% ) - (( 100% ) / 4))/2);
  float:left;
}
ul {
  list-style: none;
  padding:0px;
}
#plugins > ul > li > div {
	float:left;
}
#plugins .pluginStatus {
	width:40px;
	height: 40px;
}