{
	"__comment": "Where factorio folder. Should be in the same folder as this config file.",
	"factorioDirectory": "./factorio",
	"databaseDirectory": "./database",
	
	"__commentMasterPort": "HTTP port for the master to listen to",
	"masterPort": 8080,
	
	"__commentsslPort": "HTTPS port for the master to listen to. Set to 0 or an empty string to not listen for HTTPS.",
	"sslPort": 443,
	"sslCert": "database/certificates/cert.crt",
	"sslPrivKey": "database/certificates/cert.key",
	
	"__commentAuthSecret": "This is a long random string used for generating authentication tokens. Do not share. Regenerates when secret-api-token.txt is deleted.",
	"masterAuthSecret": "",
	
	"__comment3": "Your factorio.com username for factorio MP services, also username will be admin on new instances",
	"username": "",
	"__comment4": "Token from your factorio.com profile page. Required for MP and mod manager services.",
	"token": "",

	"__comment5": "General user settings",
	"verify_user_identity": true,
	"auto_pause": false,
	"allow_commands": "admins-only",
	"game_password": "",
	"description": "This server runs Clusterio",
	"visibility": {
		"public": true,
		"lan": true
	},
	"msBetweenCommands": 10,
	"allowRemoteCommandExecution": true
}
