<!doctype HTML>
<head>
    <%- include("head") %>
</head>

<body>
<%- include("nav") %>
<div id="body" class="container">
    <div id="storage">
        <div class="page-header mt-2 row" id="banner">
            <div class="row">
                <h2>Work in progress interface</h2>
            </div>
        </div>
    </div>
</div>
</body>
