@import '~antd/dist/antd.dark.css';

body {
	margin: 0;
}

[data-theme="compact"] p, p {
	margin: 0;
}

.row-links{
	cursor: pointer;
}

.login-container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-layout-content {
	background: #141414;
	padding: 24px;
	margin: 0;
	flex-grow: 0;
}

.site-layout {
	overflow-x: hidden;
}

.site-layout-content-container {
	min-width: 100%;
}

.site-breadcrumb {
	margin: 16px 0 16px 52px;
}

@media (min-width: 576px) {
	.site-layout-content-container {
		padding: 0 24px 24px;
	}

	.site-breadcrumb {
		margin-left: 28px;
	}
}

@media (min-width: 768px) {
	.site-layout {
		overflow-x: initial;
	}

	.site-layout-content-container {
		min-width: initial;
	}
}

.site-layout-sider {
	z-index: 0;
}

.header {
	padding-left: 250px;
	padding-right: 64px;
}

.site-name {
	position: absolute;
	top: -10px;
	left: 112px;
	font-size: 18pt;
	font-weight: 400;
}

.site-version {
	position: absolute;
	top: 10px;
	left: 120px;
	color: #f00;
}

.site-logo {
	position: absolute;
	left: 36px;
	width: 64px;
	height: 64px;
	background-image: url("./images/logo.png");
	background-size: 64px;
}

@media not all and (min-width: 576px) {
	.header {
		padding-left: 88px;
	}

	.site-logo {
		left: 12px;
	}

	.site-name {
		display: none;
	}

	.site-version {
		display: none;
	}
}

.account-dropdown-header {
	position: absolute;
	right: 0;
	top: 0;
	width: 64px;
	height: 64px;
	font-size: 18px;
	line-height: 72px;
	text-align: center;
}

.account-dropdown-header::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent;
	transition: all 0.3s;
	content: "";
}

.account-dropdown-header:hover::after {
	background: rgba(255, 255, 255, 0.1);
}

.error-traceback code {
	display: block;
	margin: 0;
	background: #000;
	border-color: #252525;
	white-space: pre-wrap;
}

.rcon-result code {
	display: block;
	background: #000;
	border-color: #252525;
	max-height: 200px;
	overflow-y: auto;
	white-space: pre-wrap;
}

/* see https://blog.eqrion.net/pin-to-bottom/ for how scroll anchors works */
.instance-console code * {
	overflow-anchor: none;
}

.instance-console code .scroll-anchor {
	overflow-anchor: auto;
	height: 1px;
}

.instance-console code {
	display: block;
	margin: 0;
	background: #000;
	border-color: #252525;
	height: 300px;
	overflow-y: scroll;
	white-space: pre-wrap;

	/* Make sure there's at least one pixel of scroll space, this */
	/* is necessary for the view to stick on the scroll anchor. */
	padding-top: 300px;
}

.instance-console .factorio-time {
	color: #afaf1f;
}

.instance-console .factorio-filename {
	color: #808080;
}

.instance-console .factorio-script {
	font-weight: bold;
	color: #49c33c;
}

.instance-console .factorio-verbose {
	font-weight: bold;
	color: #888888;
}

.instance-console .factorio-info {
	font-weight: bold;
	color: #4646ea;
}

.instance-console .factorio-warning {
	font-weight: bold;
	color: #afaf1f;
}

.instance-console .factorio-error {
	font-weight: bold;
	color: #ad3939;
}

.instance-console .factorio-action {
	color: #afaf1f;
}

.log-verbose {
	font-weight: bold;
	color: #888888;
}

.log-info {
	font-weight: bold;
	color: #4646ea;
}

.log-audit {
	font-weight: bold;
	color: #49c33c;
}

.log-warn {
	font-weight: bold;
	color: #afaf1f;
}

.log-error {
	font-weight: bold;
	color: #ad3939;
}

.log-fatal {
	font-weight: bold;
	background-color: #ad3939;
	color: #000;
}

.config-container {
	background-color: #111111;
}

.config-container .ant-form-item {
	margin: 0;
}

.config-container .filter-node .ant-tree-node-content-wrapper {
	background: #2a1912;
}

.json-input {
	font-family: monospace;
}

.factorio-icon.item-unknown-item {
	background: url("./images/unknown-item.png");
	height: 32px;
	width: 32px;
}
