<!doctype HTML>
<head>
	<%- include("head.html") %>
	<script src="storage.js"></script>
</head>

<body>
	<%- include("sidebar.html") %>
	<div id="body">
		<div id="storage">
			<h2>Storage</h2>
			<div id="contents">
			</div>
			<canvas id="contentGraph" width="200" height="200"></canvas>
		</div>
	</div>
</body>