<!doctype HTML>
<head>
	<%- include("head.html") %>
	<script src="slaveDisplay.js"></script>
</head>

<body>
	<%- include("sidebar.html") %>
	<div id="body">
		<div id="slaves">
			<h2>Slaves</h2>
			<div id="display">
				  
			</div>
			<div id="chartContainer" style="height: 300px; width: 100%;">
		</div>
	</div>
</body>