<!doctype HTML>
<head>
	<%- include("head.html") %>
	<script src="lib/terminal.js"></script>
	<script src="nodeDetails.js"></script>
	<link rel="stylesheet" type="text/css" href="nodeDetails.css">
</head>

<body>
	<%- include("nav.html") %>
	<div id="body" class="container">
		<div id="hero">
			<div id="display">
				  
			</div>
		</div>
		<div id="details">
			
		</div>
		<div id="terminal">
			<div class="titleBar" style="display:none;">
				<div class="title">
					<p>Clusterio RCON shell</p>
				</div>
				<div class="titleButton close" onclick="minimizeTerminal();"></div>
				<div class="titleButton maximize" onclick="maximizeTerminal();"></div>
				<div class="titleButton minimize" onclick="minimizeTerminal();"></div>
			</div>
			<!-- JS generates a div called .Terminal that appears here with the display and typing things -->
		</div>
	</div>
</body>