<div id="header">
	
</div>
<div id="sidenav">
	<div id="logo" style="height:50px;">
		<img src="/pictures/clusterio_icon.png" style="width:50px;height:50px; float:left;"></img>
		<h1>Clusterio</h1>
	</div>
	<a href="/"><div id="storage-menu" class="button-black menuItem">
		<p>Storage</p>
	</div></a>
	<a href="/nodes"><div id="slaves-menu" class="button-black menuItem">
		<p>Slaves</p>
	</div></a>
	<%# Very ugly ejs code to hide the Players button if the playerManager plugin isn`t installed %>
	<% adsdf = "none"; masterPlugins.forEach(plug => {if(plug.pluginConfig.name == "playerManager"){ adsdf = "block" }}); %>
	<a href="/playerManager" style="display:<%= adsdf %>"><div id="playerManager-menu" class="button-black menuItem">
		<p>Players</p>
	</div></a>
	<a href="/settings"><div id="settings-menu" class="button-black menuItem">
		<p>Settings</p>
	</div></a>
</div>