* {
	margin:0px;
}

#logo {
	background-color: yellow;
}

#sidenav {
	position:fixed;
	left:0px;
	width:200px;
	background-color:darkgrey;
	height:100%;
}
#body {
	margin-left:200px;
}
#body > div {
	display:none;
}
#contents {
	width:300px;
}
#contents table {
	border: 1px solid black;
}

#contents td img {
	height:32px;
	width:32px;
}
#contentGraph {
	float:left;
}
/* Slave stuff */
.slaveBox {
	float:left;
	width:200px;
	height:110px;
	background-color:#EEE;
	border-radius: 10px;
	margin-left:5px;
	margin-right:5px;
}
.slaveBox > p {
	margin:5px;
}
.slaveBox > h2 {
	margin:5px;
}
.button-black {
	width:100%;
	height:40px;
	background-color:black;
	color:white;
	transition: all 300ms;
}
.button-black:hover {
	background-color:#444;
	color:yellow;
	cursor:pointer;
}
.button-black * {
	text-align:center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}