<!doctype HTML>
<head>
	<%- include("head") %>
	<link rel="stylesheet" type="text/css" href="/serverManager/serverManager.css">
	<!-- <script defer type="module" src="/serverManager/index.js"></script> -->
</head>

<body>
	<%- include("sidebar") %>
	<div id="body">
		<div id="serverlistDisplayContainer" class="serverManagerMainContainer">
			<%
				html = "";
				if(req.query
				&& req.query.instanceID
				&& locals.slaves.get(req.query.instanceID)
				&& locals.slaves.get(req.query.instanceID).mods
				&& serverManager.serverSockets[req.query.instanceID]){
					let slave = locals.slaves.get(req.query.instanceID);
					html += `
						<div id="mods">
							${slave.mods.map(mod => mod.name).reduce((acc, modname) => acc + "<li>" + modname + "</li>")}
						</div>
						<div id="plugins"><ul>`
					let server = serverManager.serverSockets[req.query.instanceID];
					if(server.plugins) server.plugins.forEach(plugin => {
						html += `<li><div class="pluginStatus" style="background-color: ${plugin.enabled ? 'green' : 'red'}"></div><div style="width: calc( 100% - 50px )"><h3>${plugin.name}</h3><p>${plugin.description}</p></div></li>`
					});
					html += `</ul></div>`
				}
			%>
			<%- html %>
		</div>
	</div>
	<script>
		<%- include("serverManager/static/index.js") %>
	</script>
</body>
